/*body*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Bruno Ace SC', cursive;
  background: #f2f2f8;
  color: #434242;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(67, 66, 66, 0.14);
    height: 0;
    width: 97%;
}

button:hover {
    border-color: rgb(60, 133, 243);
    color: rgb(60, 133, 243);
}
  

button {
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: border-color 0.3s, color 0.3s, background 0.3s;
}
  
section {
  margin: 6.25rem 0;
}

.card {
  background:#fff;
  border-radius: 10px;
}

li {
    padding: 0 1.25rem;
}


h2 {
    font-size: 2.5rem;
}


/* Header Nav Bar*/

.site-header {
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 6px rgb(49, 49, 49);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding-left: 1.5625rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

li {
  padding: 0 1.25rem;
}

nav {
  margin-right: 25px;
  align-self: center;
}

.site-header li {
  font-weight: 300;
  display: inline;
}


a {
  color: black;
  text-decoration: none;
}

/*Banner*/

.banner {
  background-image: url("../images/header.jpg");
  background-size: cover;
  display: flex;
  height: 50rem;
  justify-content: center;
  position: relative;
  text-align: center; 
  margin-top: 4rem;
  color: #fff;
  align-items: center;
}

.container {
  position: relative;
  z-index: 1;
}

.banner h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}

.banner p {
    margin: 1.6rem 0;
}

.banner button {
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    height: 3rem;
    width: 9rem;
}

.banner button:hover {
    background: #fff;
    color: black;
}

.overlay {
    background: #000;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    width: 100%;
  }

/*About us*/

.about-us .card {
    display: flex;
    height: 20rem;
    width: 61rem;
    justify-content: space-between;
    margin: 0 auto;
    max-height: 34.375rem;
    overflow: auto;
}

.about-us img {
    border-radius: 1rem 0 0 1rem;
    height: auto;
    max-height: 25rem;
    width: 25rem;
}

.about-us h2 {
    margin: 2rem 0;
    text-align: left;
}

.about-us p {
    line-height: 1.3;
    margin-bottom: 1.3rem;
    margin-right: 2rem;
    width: 33rem;
}

/*Individual Events*/

.events {
    text-align: center;
}

.events h2 {
    margin: 2.5rem 0 4.1rem;
    text-align: center;
}

.events .card {
    cursor: pointer;
    display: inline-block;
    height: 28.5rem;
    margin: 0 1.25rem;
}

.events img {
    border-radius: 10px 10px 0 0;
    width: 320px;
    height: 250px;
}

.events h3 {
    cursor: text;
    font-size: 0.95rem;
    margin-top: 0.63rem;
}

.info {
    cursor: text;
    list-style-type: disc;
    margin-top: 1.25rem;
    padding-left: 3.125rem;
}
.info li {
    display: block;
    margin: 0.625rem 0;
    padding: 0;
    text-align: left;
}

.events button {
    height: 2rem;
    margin-top: 1.25rem;
    font-size: .75rem;
    width: 4.4rem;
}

/*Contacts*/

.contact {
    align-items: center;
    display: flex;
    height: 18.4375rem;
    justify-content: space-around;
    margin: 0;
    text-align: left;
}

.contact img {
    opacity: 0.6;
    padding-left: 2.5rem;
    height: 9.375rem;
    width: 15.625rem;

}
  
.contact div > ul > li {
    font-weight: 500;
}
  
  .contact li {
    display: block;
    margin: 0.9375rem 0;
}
  
  li.social-button {
    display: inline-block;
}
  
  li button {
    height: 3.125rem;
    width: 3.125rem;
}

.fab {
    font-size: 1.25rem;
}
  

/*Footer*/

footer {
   align-items: center;
   background: #fff;
   display: flex;
   height: 9.375rem;
   justify-content: center;
   margin-top: 1.25rem;
}

small {
   opacity: 0.6;
}

/*Media*/

@media only screen and (max-width: 1027px) {
  .events .card {
    margin-bottom: 40px;
  }

  .events .card:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 997px) {
  .about-us {
    text-align: center;
  }

  .about-us .card {
    display: inline-block;
    padding: 0 2%;
    text-align: left;
    width: 70%;
  }

  .about-us img {
    display: none;
  }

  .about-us p {
    width: 100%;
  }
}

@media only screen and (max-width: 888px) {
  .contact {
    display: block;
  }

  .contact h2 {
    margin: 30px 0;
    text-align: center;
  }

  .contact div {
    margin: 0 auto;
    text-align: center;
  }

  .contact div > ul {
    display: inline-block;
    text-align: left;
  }

  .social-button {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 683px) {
  .site-header {
    justify-content: center;
    padding: 0;
    text-align: center;
  }

  .site-header .logo {
    display: none;
  }

  nav {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 490px) {
  .banner h1 {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 382px) {
  .banner h1 {
    font-size: 3rem;
  }
}